{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static "default.css" %}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="page-header">{% include "./header.html" %}</div>
      <div class="page-content">{% block content %}{% endblock %}</div>
      <div class="page-footer">{% include "./footer.html" %}</div>
    </div>
  </body>
</html>
